@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Cell {
  animation: fadeIn 300ms ease-in-out;
  height: 100px;
  width: 100px;
  background-color: rgb(9, 52, 71);
  border-radius: 2px;
  cursor: pointer;
}

.Cell-lit {
  background-color: rgb(16, 94, 128);
}